doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title Atributos
body
	h1 atributos
	a(href="http://www.google.com", target="_blank") Ir a google
	| &nbsp; | &nbsp;
	a(
 		class="link",
 		href="http://www.youtobe.com",
 		target="_blank",
 	) Ir a youtobe